.card{
    background: #f4f4;
    box-shadow: 0 2px 8px rgba(0, 0,0, 0.26);
    border-radius: 10px;
    
}

.image{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 20px;
    margin-top: 10px;
    background: rgba(55, 109, 236, 0.267);
    max-width: 50%;
}

.image img{
    width: 20%;
    object-fit: contain;
    padding-right: 10%;
    margin-bottom: auto;
}